@model LoginUser

<h3 class="text-center">Login</h3>
<form asp-controller="User" asp-action="Login" method="POST">
  <div class="mb-3">
    <label asp-for="LoginEmail" class="form-label"></label>
    <input asp-for="LoginEmail" class="form-control" />
  </div>

  <div class="mb-3">
    <label asp-for="LoginPassword" class="form-label"></label>
    <input asp-for="LoginPassword" class="form-control" />
  </div>
  <span asp-validation-for="LoginPassword" class="text-danger font-weight-bold"></span>
  <span asp-validation-for="LoginEmail" class="text-danger font-weight-bold"></span>

  <div class="d-grid">
    <button class="btn btn-primary">Login</button>
  </div>
</form>